<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cycling network map</h1>
    <div><iframe width="900" height="600" src="https://data.gov.sg/dataset/cycling-path-network/resource/c5889148-f0d2-4620-b22f-d6ba00655a97/view/16a4e2c3-2ed8-4b2e-8c1f-4e2a06bdd475" frameBorder="0"></iframe></div>

  </body>
</html>
